Q1. Write a code to print the data present in the second row of the dataframe, df.

In [3]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [4]:
df.loc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

Ans.Loc and iloc are two functions in Pandas that are used to slice a data set in a Pandas DataFrame. The function .loc is typically used for label indexing and can access multiple columns, while .iloc is used for integer indexing

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [5]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [6]:
reindex = [3,0,1,2]
new_df = df.reindex(reindex)
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [7]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [8]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Yes we see the difference between the outputs .loc and .iloc

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [9]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [10]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.825081  0.720291  0.977102  0.258101  0.381426  0.147741
2  0.017940  0.669496  0.755239  0.413951  0.515160  0.317423
3  0.014310  0.978252  0.367480  0.824762  0.438625  0.425518
4  0.013530  0.429893  0.404111  0.469460  0.928082  0.938346
5  0.678815  0.017099  0.384944  0.184957  0.399154  0.298080
6  0.589054  0.083916  0.830804  0.823483  0.433786  0.439840

In [11]:
df1.mean()

column_1    0.356455
column_2    0.483158
column_3    0.619947
column_4    0.495786
column_5    0.516039
column_6    0.427825
dtype: float64

In [12]:
df1['column_2'].std()

0.3782894813899271

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.

In [13]:
df1['column_2']='Test'
df1

   column_1 column_2  column_3  column_4  column_5  column_6
1  0.825081     Test  0.977102  0.258101  0.381426  0.147741
2  0.017940     Test  0.755239  0.413951  0.515160  0.317423
3  0.014310     Test  0.367480  0.824762  0.438625  0.425518
4  0.013530     Test  0.404111  0.469460  0.928082  0.938346
5  0.678815     Test  0.384944  0.184957  0.399154  0.298080
6  0.589054     Test  0.830804  0.823483  0.433786  0.439840

In [14]:
df1['column_2'].mean()

TypeError: Could not convert string 'TestTestTestTestTestTest' to numeric

Yes we getting this error

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

Ans.In the context of pandas, the term "window functions" usually refers to operations performed on a set of data points within a specified range, or window. These operations are often used in time series analysis, but they can be applied to various types of data.

Pandas provides a powerful set of window functions through the rolling(), expanding(), and ewm() methods

Q7. Write a code to print only the current month and year at the time of answering this question.

In [15]:
date = pd.to_datetime('now')
date

Timestamp('2023-12-01 00:06:09.909782')

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [16]:
a = input("Enter Date 1")
b = input("Enter Date 2")

date1 = pd.to_datetime(a)
date2 = pd.to_datetime(b)

print(date1-date2)

5 days 00:00:00

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [28]:
address = input("Enter the address of the sales file")
Sales = pd.read_csv(address)
Sales['Total_price'] = Sales['Quantity']*Sales['Price']
Sales

      Product   SalesDate  Quantity      Price  Total_price
0   Product_1  2023-04-13         8  42.726664   341.813314
1   Product_1  2023-12-15        88  97.460387  8576.514095
2   Product_4  2023-09-28        63  96.620257  6087.076162
3   Product_4  2023-04-17        11  32.660407   359.264473
4   Product_5  2023-03-13        81  54.752366  4434.941608
..        ...         ...       ...        ...          ...
95  Product_2  2023-12-11        59  54.326592  3205.268954
96  Product_2  2023-11-23        32  27.571869   882.299805
97  Product_1  2023-01-09        96  75.020690  7201.986276
98  Product_2  2023-12-10        88  35.269513  3103.717111
99  Product_1  2023-05-09        52  12.188437   633.798723

[100 rows x 5 columns]

In [22]:
report = Sales.groupby('Product').sum()
report

,SalesDate,Quantity,Price,Total_price
Product,,,,
Product_1,2023-04-132023-12-152023-05-022023-03-292023-0...,723,1134.300534,43608.844093
Product_2,2023-07-112023-06-102023-11-102023-09-102023-0...,1289,1515.164854,73779.517258
Product_3,2023-01-212023-12-262023-10-212023-01-222023-1...,830,555.868763,36763.393400
Product_4,2023-09-282023-04-172023-04-132023-06-012023-0...,1236,1067.572506,62705.674938
Product_5,2023-03-132023-07-082023-08-032023-11-272023-0...,872,1103.374874,53394.613924

In [23]:
import plotly.graph_objects as go
Fig = go.Figure()
Fig.add_trace(go.Bar(x=report.index, y=report['Total_price']))
Fig.show()

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.

In [25]:
add2 = input("Enter address:")
data = pd.read_csv(add2)
data

   Student ID  Test Score
0           1          85
1           2          90
2           3          80
3           4          75
4           5          85
5           6          82
6           7          78
7           8          85
8           9          90
9          10          85

In [26]:
print(data['Test Score'].mean())
print(data['Test Score'].median())
print(data['Test Score'].mode())

83.5
85.0
0    85
Name: Test Score, dtype: int64

Creating a random sales file

In [24]:
import pandas as pd
import numpy as np
from datetime import timedelta, datetime

# Function to generate random sales data
def generate_sales_data(num_records=100, num_products=5):
    np.random.seed(42)  # Set seed for reproducibility

    # Generate random product names
    products = [f'Product_{i}' for i in range(1, num_products + 1)]

    # Generate random sales dates within a range
    start_date = datetime(2023, 1, 1)
    end_date = datetime(2023, 12, 31)
    date_range = [start_date + timedelta(days=np.random.randint((end_date - start_date).days)) for _ in range(num_records)]

    # Generate random sales quantities and prices
    quantities = np.random.randint(1, 100, size=num_records)
    prices = np.random.uniform(10, 100, size=num_records)

    # Create DataFrame
    data = {
        'Product': np.random.choice(products, size=num_records),
        'SalesDate': date_range,
        'Quantity': quantities,
        'Price': prices
    }

    df = pd.DataFrame(data)
    return df

# Generate random sales data with 100 records and 5 products
random_sales_data = generate_sales_data(num_records=100, num_products=5)

# Save DataFrame to a CSV file
random_sales_data.to_csv('random_sales_data.csv', index=False)

print("Random sales data has been generated and saved to 'random_sales_data.csv'.")

Random sales data has been generated and saved to 'random_sales_data.csv'.