Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
s="Chirag"
l = [45,'Chirag',True,78.456,'hira']
f = 45.2365
t=(48,78,'pwSkill')

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [3]:
var1 = ""
var2 = "[ DS , ML , Python]"
var3 = [ "DS" , "ML" , "Python" ]
var4 = 1

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [9]:
## / Devision Operator  
print(45/5)

## % Modulus operator --> return the remainder of the Devisor
print(24%7)

## //Floor division
print(50//8)

## ** exponentiation operator
print(5**2)

9.0
3
6
25

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [10]:
l = ['Chirag',21,'M','29/10/2002',True,95.45687]

for i in l:
    print(i)

Chirag
21
M
29/10/2002
True
95.45687

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [12]:
A = 200
B = 2
count = 0
while(A%B==0):
  count+=1
  A=A/B

print(f"B divides A in {count} times")

B divides A in 3 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [16]:
l = [i for i in range(26)]

for i in l:
    if i%3==0:
        print(i)

0
3
6
9
12
15
18
21
24

In [17]:
l = [i for i in range(26) if i%3==0]
l

[0, 3, 6, 9, 12, 15, 18, 21, 24]

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable objects in Python are those that can be changed after they are created, like lists or dictionaries. Immutable objects, on the other hand, cannot be changed after they are created, such as strings, integers, or tuples

In [20]:
## Mutable 
l1 = [45,89,5,12]
l1[1]=100
print(l1)

d = {'Name':'Chirag','Age':21,'Gender':'Male'}
d['Age'] = 22
print(d)

[45, 100, 5, 12]
{'Name': 'Chirag', 'Age': 22, 'Gender': 'Male'}

In [21]:
## Immutable
t = (45,'Data Science','Sudh')
t[1] = 'Java With DSA'

TypeError: 'tuple' object does not support item assignment